.download-btn {
    appearance: none;
    font-family: inherit;
    transition:
        color var(--easing-duration, 0.2s) var(--easing, cubic-bezier(0.65, 0, 0.35, 1)),
        background-color var(--easing-duration, 0.2s) var(--easing, cubic-bezier(0.65, 0, 0.35, 1));
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    --link-block-padding: 0.25rem;
    border-radius: 0.5rem;
    color: var(--color-text-secondary, black);
    margin-block: calc(var(--link-block-padding) * -1);
    margin-inline: calc(var(--link-inline-padding) * -1);
    min-height: 2rem;
    padding-block: var(--link-block-padding);
    padding-inline: var(--link-inline-padding);
    text-decoration: none;
    user-select: none;
    z-index: 3;
    --link-inline-padding: 0.75rem;
    background: var(--color-fill-primary-default, #26bbff);
    margin: 0px;
    text-align: center;
    text-transform: capitalize;

    &:hover {
        background-color: #61cdff;
    }
}
