.storeDropDawn {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: 1;
    width: 80px;

    .storeDropDawn-svg {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;

        width: 100%;

        .arrowDawn {
            svg {
                fill: #aaaaae;
                transform: translate(0px, 0px);
                transition: 0.25s ease-in-out;
            }
        }

        button {
            &:hover {
                .arrowDawn {
                    svg {
                        fill: #fff;
                        transform: translate(0px, 2px);
                    }
                }
            }
        }

        .menu-lists {
            border-radius: 1rem;
            max-height: 37.5rem;
            overflow: hidden;
            position: absolute;
            top: 68px;
            width: 606px;

            > ul {
                padding: 2.5rem;
                display: inline-flex;
            }
        }
    }
}
